.poke-details-Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.poke-Name {
  font-size: x-large;
  color: black;
  margin-top: 1rem;
}
span {
  letter-spacing: 0.8rem;
}
.poke-types {
  display: flex;
  margin-top: 2rem;
  gap: 3rem;
  font-size: larger;
}
.poke-types div {
  border: 1px solid gainsboro;
  border-radius: 15%;
  padding: 1rem;
  background-color: gainsboro;
}
.poke-images {
  max-height: 200px;
  margin-top: 2rem;
}
